################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookDatabase/obj/Debug
/BookDatabase/BookDatabase.dbmdl
/BookDatabase/BookDatabase.jfm
